<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaot.factory.dao.DashboardDao">

    <select id="overview" resultType="map">
        select
            (select sum(op.purchase_total) from od_purchase op) purchaseCount,
            (select sum(op.purchase_total) from od_purchase op where year(op.create_time) = year(now())) purchaseYear,
            (select sum(op.purchase_total) from od_purchase op where year(op.create_time) = year(now()) and month(op.create_time) = month(now())) purchaseMonth,
            (select sum(os.sales_total) from od_sales os) salesCount,
            (select sum(os.sales_total) from od_sales os where year(os.create_time) = year(now())) salesYear,
            (select sum(os.sales_total) from od_sales os where year(os.create_time) = year(now()) and month(os.create_time) = month(now())) salesMonth
    </select>
    
    <select id="purchasePie" resultType="map">
        select oi.inventory_name `name`, sum(op.purchase_total) count
        from od_purchase op inner join od_inventory oi on op.inventory_id = oi.id
        group by op.inventory_id
    </select>

    <select id="salesPie" resultType="map">
        select oi.inventory_name `name`, sum(os.sales_total) count
        from od_sales os inner join od_inventory oi on os.inventory_id = oi.id
        group by os.inventory_id
    </select>
    
    <select id="monthLine" resultType="map">
        select
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 0) purchaseOne,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 1) purchaseTwo,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 2) purchaseThree,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 3) purchaseFour,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 4) purchaseFive,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 5) purchaseSix,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 6) purchaseSeven,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 7) purchaseEight,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 8) purchaseNine,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 9) purchaseTen,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 10) purchaseEleven,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 11) purchaseTwelve,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 0) salesOne,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 1) salesTwo,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 2) salesThree,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 3) salesFour,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 4) salesFive,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 5) salesSix,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 6) salesSeven,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 7) salesEight,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 8) salesNine,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 9) salesTen,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 10) salesEleven,
            (select ifnull(sum(op.purchase_total), 0) from od_purchase op where TIMESTAMPDIFF(month, op.create_time, DATE_FORMAT(now(), "%Y-%m-%d")) = 11) salesTwelve
    </select>

</mapper>