<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaot.factory.dao.InventoryDao">

    <select id="listInventory" resultType="inventoryPo">
        select * from od_inventory
    </select>

    <insert id="addInventory" parameterType="purChasePo">
        insert into od_inventory(inventory_name, inventory_num, inventory_comment, create_time, update_time)
        values(#{inventoryName}, #{inventoryNum}, #{inventoryComment}, now(), now())
    </insert>

    <update id="updateInventory" parameterType="inventoryPo">
        update od_inventory set id = #{id}
        <if test="inventoryName != null and inventoryName != ''">
            , inventory_name = #{inventoryName}
        </if>
        <if test="inventoryNum != null and inventoryNum != ''">
            , inventory_num = #{inventoryNum}
        </if>
        <if test="inventoryComment != null and inventoryComment != ''">
            , inventory_comment = #{inventoryComment}
        </if>
            , update_time = now()
        where id = #{id}
    </update>

    <select id="findInventoryNum" resultType="integer">
        select inventory_num from od_inventory where id = #{inventoryId}
    </select>

</mapper>