<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaot.factory.dao.MenuDao">

    <select id="menuList" resultType="menuPo">
        select bm.* from bs_menu bm
        <if test="roleId != null">
            inner join rf_role_menu rmr on bm.id = rmr.menu_id
            where rmr.role_id = #{roleId}
        </if>
    </select>

    <insert id="addMenu" parameterType="menuPo">
        insert into bs_menu(p_id, menu_name, menu_url, menu_image)
        values(#{pId}, #{menuName}, #{menuUrl}, #{menuImage})
    </insert>

    <update id="updateMenu" parameterType="menuPo">
        update bs_menu set id = #{id}
        <if test="menuName != null and menuName != ''">
            , menu_name = #{menuName}
        </if>
            , menu_url = #{menuUrl}
            , menu_image = #{menuImage}
        where id = #{id}
    </update>

</mapper>