<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaot.factory.dao.OperatorRoleDao">

    <select id="findHasRoles" resultType="string">
        select br.role_name from rf_operator_role ror inner join bs_role br on ror.role_id = br.id where ror.operator_id = #{operatorId}
    </select>

    <delete id="deleteOperatorRole">
        delete from rf_operator_role where operator_id = #{operatorId}
    </delete>

    <insert id="addOperatorRole">
        insert into rf_operator_role(operator_id, role_id) values
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{operatorId},#{roleId})
        </foreach>
    </insert>

</mapper>