<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaot.factory.dao.OperatorDao">

    <select id="findOperator" resultType="operatorVo">
        select bo.id, bo.login_name loginName, bo.username, bo.delete, br.role_name roles
        from bs_operator bo inner join bs_role br on bo.role_id = br.id
        where login_name = #{loginName} and `password` = #{password} and `delete` = 0
    </select>
    
    <select id="listOperator" resultType="operatorVo">
        select bo.id, bo.login_name loginName, bo.password, bo.username, bo.`delete`, br.role_name roles
        from bs_operator bo inner join bs_role br on bo.role_id = br.id
        <if test="field != null and field != ''">
            order by ${field}
            <if test="order != null and order != ''">
                ${order}
            </if>
        </if>
        limit ${pageNo},${pageSize}
    </select>
    
    <select id="listCount" resultType="integer">
        select count(1) from bs_operator
    </select>

    <select id="loginNameExist" resultType="int">
        select count(1) from bs_operator where login_name = #{loginName}
        <if test="id != null">
            and id != #{id}
        </if>
    </select>
    
    <insert id="addOperator" parameterType="operatorPo">
        insert into bs_operator (login_name, `password`, username, role_id)
        values (#{loginName}, #{password}, #{username}, #{roleId})
    </insert>
    
    <update id="updateOperator" parameterType="operatorPo">
        update bs_operator set id = #{id}
        <if test="loginName != null and loginName != ''">
            , login_name = #{loginName}
        </if>
        <if test="password != null and password != ''">
            , `password` = #{password}
        </if>
        <if test="username != null and username != ''">
            , username = #{username}
        </if>
        <if test="roleId != null and roleId != ''">
            , role_id = #{roleId}
        </if>
        <if test="delete != null and delete != ''">
            , `delete` = #{delete}
        </if>
        where id = #{id}
    </update>

</mapper>