<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaot.factory.dao.PurchaseDao">

    <select id="listPurchase" resultType="purchaseSalesVo">
        select op.id, oi.inventory_name name, op.purchase_num num, purchase_price price, purchase_total total, oi.inventory_comment comment
        from od_purchase op inner join od_inventory oi on op.inventory_id = oi.id
        <if test="field != null and field != ''">
            order by ${field}
            <if test="order != null and order != ''">
                ${order}
            </if>
        </if>
        limit ${pageNo},${pageSize}
    </select>

    <select id="listPurchaseCount" resultType="integer">
        select count(1) from od_purchase op inner join od_inventory oi on op.inventory_id = oi.id
    </select>

    <insert id="addPurchase" parameterType="purchasePo">
        insert into od_purchase(inventory_id, purchase_num, purchase_price, purchase_total, create_time)
        values(#{inventoryId}, #{purchaseNum}, #{purchasePrice}, #{purchaseTotal}, now())
    </insert>

    <update id="updatePurchase" parameterType="purchasePo">
        update od_purchase set id = #{id}
        <if test="purchaseNum != null and purchaseNum != ''">
            , purchase_num = #{purchaseNum}
        </if>
        <if test="purchasePrice != null and purchasePrice != ''">
            , purchase_price = #{purchasePrice}
        </if>
        <if test="purchaseTotal != null and purchaseTotal != ''">
            , purchase_total = #{purchaseTotal}
        </if>
        where id = #{id}
    </update>

    <select id="findPurchaseNum" resultType="int">
        select purchase_num purchaseNum from od_purchase where id = #{id}
    </select>

</mapper>